.button {
  justify-content: center; /*button label centered*/
  width: 300px; 
  height: 100px;
  margin: 50px;
  background-color: #8AA9FF;
  color: #fff;
  font-size: 35px;
  border-radius: 20px;
  transition: 300ms;
  /*font-family: Courier;*/
  font-weight: 700;
  border: 1px;
  box-shadow: green 1px 0 10px;
  }
.button:hover {
  background-color: #adc2ff;
  transform: translateY(5px);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:active {
  background-color: #6076b2;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0px);
}


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px; 
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 50px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 300px;
  height: 100px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.container {
  border: 3px solid #d2d3d7;
  height: 200px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #d2d3d7;
}
h1{
  font-size: 55px;
  text-align: center;
  background-color: #d2d3d7;
  font-style:initial;
  color: green;
  text-shadow: green 1px 0 10px;
  
}
.timerDisplay{
  border: 3px solid #d2d3d7;
  background-color: #d2d3d7;
  display: inline-flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-family: sans-serif;
  color: #3f3f40;
}
body{
  background-color: #d2d3d7;
}